@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kosugi+Maru&family=Tsukimi+Rounded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* レイアウト崩れ防止 */
html,
body {
  font-size: 2.778vw;
}

/* カメラアイコンをクリックし画像のアップロード */
input[type='file'] {
  display: none;
}

body {
  background-color: #fff7ed;
}
