@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kosugi+Maru&family=Tsukimi+Rounded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

/* カメラアイコンをクリックし画像のアップロード */
input[type='file'] {
  display: none;
}

.label {
  margin-top: 30px;
  margin-bottom: 5px;
}

/* ログイン、新規会員登録の入力フォームデザイン */
.input {
  width: 20rem;
  height: 3rem;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

/* ログイン、新規会員登録ボタン */
.button {
  color: white;
  font-size: 18px;
  width: 16rem;
  height: 3rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: #fb923c;
}

.scrollBg {
  background-color: #ffedd5d8;
}
