@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kosugi+Maru&family=Tsukimi+Rounded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* レイアウト崩れ防止 */
html,
body {
  font-size: 2.778vw;
}

/* カメラアイコンをクリックし画像のアップロード */
input[type='file'] {
  display: none;
}

body {
  background-color: #fff7ed;
}

/* ログイン、新規会員登録ボタン */
.button {
  color: white;
  font-size: 15px;
  border-width: 4px;
  border-color: white;
  justify-content: center;
  text-align: center;
  padding: 8px;
  width: 6rem;
  height: 1.2rem;
}
